.link {
    text-decoration: none;
    color: #fff;
}

.ul {
    background-color: #ffffff1a;
    backdrop-filter: blur(10px);
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: .5rem 1.5rem .5rem 1.5rem;
    border-radius: 5rem;
    margin-top: 1rem;
}

.container {
    /* background-color: #004390; */
    width: 100%;
    display: flex;
    justify-content: center;
}
